# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# TypeScript build output
dist/

# Node modules
node_modules/

# Rust build artifacts
contracts/rust/target/
Cargo.lock

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*